#ПРИМЕР .env ФАЙЛА


# Порт gRPC сервера
# Формат: <номер_порта>
GRPC_PORT=50051

# Название сервиса(пока не используется, TBA)
SERVICE_NAME=order-service

# Уровень логирования(пока не используется, TBA)
LOG_LEVEL=info