#ПРИМЕР .env ФАЙЛА


# Порт gRPC сервера
# Формат: <номер_порта>
GRPC_PORT=50051

# Название сервиса(пока не используется, TBA)
SERVICE_NAME=order-service

# Тип среды(local, dev, prod)
ENV_TYPE=local

# Порт http
HTTP_PORT=8080

# Работа с БД

# Имя пользователя
DB_USERNAME=user

# Пароль
DB_PASSWORD=password

# Хост
DB_HOST=dbOrders

# ПОРТ
DB_PORT=5432

# Максимальное число число подключений в пуле
MAX_CONNS=100

# Время жизни соединения
MAX_CONN_LIFE_TIME=1

# Время бездействия соединения
MAX_CONN_IDLE_TIME=20

# Таймаут подключения
CONNECT_TIMEOUT=20