#ПРИМЕР .env ФАЙЛА


# Порт gRPC сервера
# Формат: <номер_порта>
GRPC_PORT=50051

# Название сервиса(пока не используется, TBA)
SERVICE_NAME=order-service

# Тип среды(local, dev, prod)
ENV_TYPE=local

# Порт http
HTTP_PORT=8080

# Работа с БД

# Максимальное число соединений
MAX_CONNS=100

# Время жизни соеденения
MAX_CONN_LIFE_TIME=1

MAX_CONN_IDLE_TIME=20
CONNECT_TIMEOUT=20